 .container-fluid ::placeholder
 {
    color: white;
 }

 .card
  {
    width: 400px;
  }

  .container-fluid
  {
    position: relative;
    width: 400px;
  }

 @media (max-width:430px){
    .card
    {
        width: 250px;
    }

    .container-fluid
    {
        width: 250px;
    }
 }